{% extends 'base.html' %}
{% load static %}
{% block title %}Obecności{% endblock %}
{% block content %}
    <br><br><br><br>
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-4 col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h1 class="text-primary card-title">Obecności</h1>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">Statystyka Obecności:</li>
                        {% for group in groups %}

                            <li class="list-group-item"><a class="list-group-item-action"
                                                           href="{% url 'handler:group' group.id %}">{{ group }}</a>
                                <a href="{% url 'handler:check_attendance' group.id %}" class="btn list-group-item-action ">Sprawdź obecność</a>
                            </li>


                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
