<!DOCTYPE html>
{% load static %}
<html lang="en">
<title>{% block title %}My Page{% endblock %}</title>
<meta charset="UTF-8">

<link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?fa3mily=Poppins">
<link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'handler/style.css' %}"/>

<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h1 class="w3-padding-64"><b style="font-family: 'Leckerli One',cursive">EnglishPoint</b></h1>
  </div>
    {% if user.is_authenticated %}
        <p>
            <h2>Hello {{ user.first_name }}!</h2>
        </p>
        <p>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            <a href="/admin" class="btn btn-warning">Panel</a>
        </p>
    {% endif %}
  <div class="w3-bar-block">
    <a href="{% url "handler:clients" %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Rodzice</a>
    <a href="{% url "handler:students" %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Dzieci</a>
    <a href="{% url "handler:groups" %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Grupy</a>
    <a href="{% url "handler:payments" %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Płatności</a>
    <a href="{% url "handler:attendance" %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Obecności</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span style="font-family: 'Leckerli One',cursive">English Point</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<!-- !PAGE CONTENT! -->
{% block content %}
{% endblock %}


<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
