{% extends 'base.html' %}
{% load static %}
{% block title %}{{ client }}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row d-flex justify-content-center">
        <div class="col col-lg-6 col-md-8">
            <div class="card text-center" id="data" style="margin-top:75px">
                <div class="card-header">
                    <h1 class="text-primary card-title"><b>{{ client }}</b></h1>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <ul class="list-group w-50">
                        {% if client.email %}
                            <li class="list-group-item">email: <a href="mailto:{{ client.email }}">{{ client.email }}</a></li>
                        {% endif %}
                        {% if client.phone_number %}
                            <li class="list-group-item">tel: <a href="tel:{{ client.phone_number }}">{{ client.phone_number }}</a></li>
                        {% endif %}
                        <li class="list-group-item">Dzieci:</li>
                        {% for kid in kids %}

                            <li class="list-group-item"><a href="{% url 'handler:student' kid.id %}">{{ kid }}</a></li>

                        {% endfor %}
                        {% if haventpaid %}
                            <li class="list-group-item">
                                Zaległość: {{ client.diff_to_pay|floatformat:2 }}zł
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'handler:delete_client' client.id %}" class="btn btn-outline-danger">Usuń
                        Rodzica</a>
                    <a href="{% url 'handler:client_edit' client.id %}" class="btn btn-outline-primary">Edytuj</a>
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Wyślij maila
                    </button>
                     <a href="{% url 'add_year_client' %}" class="btn btn-primary">Kopiuj do nowego roku</a>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nowy Mail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="my_form">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Wyślij</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'handler:send_mail' client.id %}" type="button" class="btn btn-primary">Save
                        changes</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
