{% extends 'base.html' %}
{% load static %}
{% block title %}Over Due{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <!--<div class="w3-container" style="margin-top:80px" id="home">
    <h1 class="w3-jumbo"><b>Panel</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>-->

  <!-- Clients -->
  <div class="w3-container" id="data" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-blue"><b>Rodzice:</b></h1>
    <hr style="width:50px;border:5px solid blue" class="w3-round">
      <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Po terminie:</li>
        {% for client in clients %}
            <a href="{% url 'handler:client' client.id %}"><li class="w3-padding-16">{{ client }}: {{ client.diff_to_pay }}zł do zapłaty</li></a>
        {% endfor %}
        <!--<li class="w3-padding-16">
          <h2>$ 199</h2>
          <span class="w3-opacity">per room</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
        </li>-->
      </ul>
    </div>
      <div class="my_form">
        <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Wyślij maila z informacją</button>
        </form>
    </div>

  </div>



  <!-- Contact
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>
  </div>
-->
<!-- End page content -->
</div>
{% endblock %}
