{% extends 'base.html' %}
{% load static %}
{% block title %}Rodzice{% endblock %}
{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-6 col-md-8">
            <div class="card text-center" id="data" style="margin-top:75px">
                <div class="card-header">
                    <h1 class="text-primary card-title"><b>Rodzice</b></h1>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <ul class="list-group w-50">
                        {% for client in clients %}

                            <li class="list-group-item">
                                <a href="{% url 'handler:client' client.id %}">{{ client }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'handler:new_client' %}" class="btn btn-outline-success card-link">Dodaj Rodzica</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
