{% extends 'base.html' %}
{% load static %}
{% block title %}Korekty{% endblock %}
{% block content %}
<br><br><br><br>
        <div class="row d-flex justify-content-center">
            <div class="col col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h1 class="text-primary card-title"><b>Korekty</b></h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for cor in cors %}
                                <li class="list-group-item">{{ cor }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'handler:new_correction' %}" class="btn btn-outline-success card-link">Dodaj
                            Korektę</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
