{% extends 'base.html' %}
{% load static %}
{% block title %}Delete{% endblock %}
{% block content %}
    <div class="my_form">
        <form action="" method="post">
        {% csrf_token %}
        <p>Jesteś pewny/pewna, że chcesz usunąć "{{ object }}?</p>
        <input class="btn btn-danger" type="submit" value="Usuń">

        </form>

    <button class="btn btn-primary" onclick="goBack()">Wróć</button>
    </div>


<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}