{% extends 'base.html' %}
{% load static %}
{% block title %}{{ group }}{% endblock %}
{% block content %}

    <div class="row d-flex justify-content-center">
        <div class="col col-lg-6 col-md-8">
            <div class="card text-center" id="data" style="margin-top:75px">
                <div class="card-header">
                    <h1 class="text-primary card-title"><b>{{ group }}</b></h1>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <ul class="list-group">
                        <li class="list-group-item">czas trwania lekcji: {{ minutes }} min</li>
                        <li class="list-group-item">ilość lekcji: {{ group.amount_lessons }}</li>
                        <li class="list-group-item list-group-item-dark">Dzieci:</li>
                        {% for student in students %}

                            <li class="list-group-item">
                                <a class="card-link" href="{% url 'handler:student' student.id %}">{{ student }}</a>
                            </li>

                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'handler:delete_group' group.id %}" class="btn btn-outline-danger">Usuń Grupę</a>
                    <a href="{% url 'handler:edit_group' group.id %}" class="btn btn-outline-warning">Edytuj</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
