{% extends 'base.html' %}
{% load static %}
{% block title %}{{ student }}{% endblock %}
{% block content %}

    <div class="row d-flex justify-content-center">
        <div class="col col-lg-6 col-md-8">
            <div class="card text-center" id="data" style="margin-top:75px">
                <div class="card-header">
                    <h1 class="text-primary card-title"><b>{{ student }}</b></h1>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <ul class="list-group">

                            <li class="list-group-item">
                                <a href="{% url 'handler:group' studentYear.group.id %}">
                                    Grupa: {{ studentYear.group }}
                                </a>
                            </li>


                            <li class="list-group-item">
                                <a href="{% url 'handler:client' student.parent.id %}">
                                    Rodzic: {{ student.parent }}
                                </a>
                            </li>
                        {% if student.birthday %}
                            <li class="list-group-item">urodziny: {{ student.birthday }}</li>
                        {% endif %}
                        {% if studentYear.present != 0 or studentYear.absent != 0 %}
                            <li class="list-group-item">frekwencja: {{ studentYear.attendance }}%</li>
                        {% endif %}
                        <li class="list-group-item list-group-item-dark">Obecności:</li>
                        {% for attendance in attendances %}
                            <li class="list-group-item">{{ attendance }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'handler:delete_student' student.id %}" class="btn btn-outline-danger">Usuń Ucznia</a>
                    <a href="{% url 'handler:edit_student' student.id %}" class="btn btn-outline-primary">Edytuj</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
